
.about{
    display: flex;

    justify-content: center;
    position: relative;
    z-index: 2;

    margin-bottom: 10%;

    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.flower{
    padding-top: 5rem;
    right: 0;
}

.pros-card{
    display: flex;
    margin-bottom: 10%;
}

.last{
    margin-bottom: 0;
}

.icon{
    align-self: center;
    margin-right: 5%;
}

.about-card{
    padding-top: 15rem;
    width: 30%;
    margin-right: 10rem;
}

.about-pros{
    padding-top: 5rem;
    width: 30%;
}

.about-topic{
    margin-bottom: 3%;
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 300;
    color: #7492ec;
    
}

.about-text {
    margin-bottom: 10%;
}

.reason-topic {
    margin-bottom: 5%;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    color: #000;
}