header {

    padding: 50px;
    position: relative;
    z-index: 1;
    margin-bottom: 200px;
}

.background{
    position: absolute;
    z-index: -1;
    pointer-events: none;
}

.woman{ 
    top: 0;
    left: 0;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
}

.banner-container{
    display: flex;
    justify-content: flex-end;

}

.banner {
    padding-right: 17%;
    font-size: 4.5rem;
    font-family: "Poppins";
    font-weight: 300;
    color: #4c77eb;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.banner-second-line{
    text-indent: 20px;
}

.banner-third-line{
    text-indent: 40px;
}

.menu-button {
    display: inline;  
}

.menu-list {
    display: inline;
    font-family: "Poppins";
}

.menu-link {
    color: #8ea2dc;
    padding-right: 1.5em;
}

.menu-link:hover {
    color: #4c77eb;
    text-shadow:0 0 10px #8ea2dc
}

.trial-button {
    width: 200px;
    height: 40px;
    border-top: 30px;
    border-bottom: 30px;
    border-radius: 20px;
    background-color: #7492ec;
    border: 0px;
    font-family: "Poppins";
    color: white;
    font-weight: bold;
    font-size: 90%;;
}

.trial-button:hover {
    text-shadow:0 0 10px white;
}