p {
    margin: 0;
  }
  
  button {
    cursor: pointer;
    background: none;
    padding: 0;
    border: none;
    color: currentColor;
  }
  
  img {
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
  }
  
  label {
    cursor: pointer;
    user-select: none;
  }
  
  textarea {
    resize: vertical;
  }
  
  
  input[placeholder] {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  :focus::-webkit-input-placeholder {
    color: transparent;
  }
  
  :focus::-moz-placeholder {
    color: transparent;
  }
  
  :focus:-moz-placeholder {
    color: transparent;
  }
  
  :focus:-ms-input-placeholder {
    color: transparent;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    box-shadow: none;
  }
  
  input {
    border: none;
  }
  
  a {
    text-decoration: none;
  }

  *,
*:before,
*:after {
  box-sizing: border-box;
  outline: none!important;
  margin: 0;
  padding: 0;
}
/**/

li{
    list-style-type: none;
}
ul {
    margin-left: 0; 
    padding-left: 0;
}

h1, h2, h3 {
    font-family: "Poppins";
}

p {
    font-family: "Lato";
}
/**/



html {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;

}

html::-webkit-scrollbar {
    display: none;
}

a{
    text-decoration: none;
    font-weight: 700;
}

a:hover{
    color: white;
    text-shadow:0 0 10px white;
}

header {

    padding: 50px;
    position: relative;
    z-index: 1;
    margin-bottom: 200px;
}

.background{
    position: absolute;
    z-index: -1;
    pointer-events: none;
}

.woman{ 
    top: 0;
    left: 0;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
}

.banner-container{
    display: flex;
    justify-content: flex-end;
}

.banner {
    padding-right: 20rem;
    font-size: 4.5rem;
    font-family: "Poppins";
    font-weight: 300;
    color: #4c77eb;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.banner-second-line{
    text-indent: 20px;
}

.banner-third-line{
    text-indent: 40px;
}

.menu-box{
    display: flex;
    align-items: center;
    margin-left:auto
}

.menu-list {
    display: flex;
    font-family: "Poppins";
}

.menu-button{
    padding-right: 1.5rem;
}

.menu-link {
    color: #8ea2dc;
}

.menu-link:hover {
    color: #4c77eb;
    text-shadow:0 0 10px #8ea2dc
}

.trial-button {
    width: auto;
    height: 40px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-top: 30px;
    border-bottom: 30px;
    border-radius: 20px;
    background-color: #7492ec;
    border: 0px;
    font-family: "Poppins";
    color: white;
    font-weight: bold;
    font-size: 	0.75rem;
}

.about{
    display: flex;

    justify-content: center;
    position: relative;
    z-index: 2;

    padding-bottom: 8rem;

    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.flower{
    top: 5rem;
    right: 0;
}

.pros-card-li{
    margin-bottom: 3rem;
}

.pros-card{
    display: flex;
}

.pros-card-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.reason-topic {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
}

.icon{
    align-self: center;
    margin-right: 30px;
}

.about-card{
    padding-top: 19rem;
    width: 50%;
    margin-right: 7.5rem;
}

.about-pros{
    padding-top: 10rem;
    width: 50%;
}

.about-topic{
    margin-bottom: 3%;
    font-size: 48px;
    font-weight: 300;
    color: #7492ec;
    
}

.about-text {
    margin-bottom: 10%;
}

.classes{
    padding-bottom: 6rem;
    background: url(./img/body/classes/classes_background.png);
    /* обьедини в одну картинку с цветком */
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 8rem;
    padding-top: 6.5rem;
}

.dec-lotus{
    display: block;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
}

.classes-topic{
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    color: #4c77eb;
}

.classes-main{
    display: flex;
    justify-content: center;
    align-content: center;

}

.classes-pos {
    display: flex;
    flex-basis: 18.75rem;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
}

.classes-pos:last-of-type{
    margin-right: 0;
}

.classes-image-container{
    margin-bottom: 32px;
}

.classes-image{
    border-radius: 10px;

}

.class-name {
    height: 53px;
    overflow: hidden;
    font-size: 18px;
    color: #4c77eb;
    font-weight: 500;
    margin-bottom: 0.875rem;
}

.class-info {
    list-style-type: none;
    margin-bottom: 1rem;
}

.info-li {
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 13px;
    font-family: "Lato";
    font-weight: 400;
    color: #999;
}

.info-li__icon{
    margin-right: 13px;
}

.info-li:last-child{
    margin-bottom: 0;
}

.about-class {
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.control{
    position: relative;
    height: 30px;
    background: none;
    border: none;
    font-size: 25px;
    font-family: "Poppins";
    color: #4c77eb;
}

.prev{
    left: 14.6rem;
    top: 6.9rem;
}

.next{
    left: 3rem;
    top: 4.96rem;
}

.promo {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.p-topic {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.p-txt {
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    margin-bottom: 5rem;
}

.promobut{
    padding-left: 3rem;
    padding-right: 3rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 120px;

}

.gallery__container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin: -13px;
}

.gallery__li {
    padding: 13px;
    width: 33.3333333333%;
}

.gallery__li--double {
    width: 66.6666666666%;
}

.gallery__li--double img {
    width: 100%;
    height: 100%;
}

.gallery__card {
    height: 100%;
    overflow: hidden;
}

.team {
    margin: 0;
    padding: 0;

}

.team-preview {
    padding-top: 8rem;
    padding-bottom: 5rem;
    display: block;
    text-align: center;
    background: url(./img/body/team/background.png) no-repeat;
}

.t-topic {
    margin-bottom: 1rem;
    font-size: 32px;
    font-family: "Poppins";
    font-weight: 300;
    color: white;
}

.t-txt {
    margin-bottom: 5rem;
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    color: white;
}

.meetot-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.meetot{
    font-family: "Poppins";
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.button-down {
    width: 40px;
    height: 40px;
    background-image: url(./img/body/team/Ellipse\ 10.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.team{
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-table {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.teammate {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;

}

.team-card-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 0.5rem;
}

.photo {
    align-self: center;
    margin-right: 1rem;
}

.name {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
}

.job {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    color: grey;
}

.challenge {
    position: relative;
    z-index: 1;
    background-color: #F8F7FC;
    padding-top: 14rem;
    padding-left: 32rem;
    padding-bottom: 13.5rem;
}

.challenge-box{
    display: flex;
    align-items: flex-start;
}

.challenge-txt-content {
    display: block;
}

.challenge-topic {
    font-family: "Poppins";
    font-weight: 300;
    font-size: 48px;
    color: #7492ec;
}

.challenge-text {
    width: 33%;
    font-size: 21px;
    line-height: 2rem;
    color: #8ea2dc;
    margin-bottom: 2rem;
}

.womanimg {
    position: absolute;
    right: 30.5rem;
    bottom: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.logotypes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: 5rem;
    padding-bottom: 5rem;
}

.logotypes__container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.logotypes__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -85px;
}

.logotypes__li {
    padding: 85px;
    width: 20%;
}

.logotypes__card{
    height: 100%;
    overflow: hidden;
}

.top {
    background-color: #191919;
    display: flex;
    
}

.border{
    padding-right: 210px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid 2px;
    border-color: #333333;
    border-top: none;
    border-bottom: none;
    border-left: none;
}
.top-right-box{
    margin-right: 264px;
}

.top-right {
    display: flex;
    align-items: center;
    padding-left: 45px;
}

.top-topic{
    font-size: 16px;
    color: white;
    font-weight: 600;
    font-family: "Poppins";
}

.top-text{
    font-family: "Lato";
    font-style: italic;
    font-size: 13px;
    color: #bbbbbb;
    font-weight: 500;
}

.subscription-wrap {
    position: relative;
    padding-right: 67px;  
}

.email {
    height: 3rem;
    width: 300px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 20px;
    background-color: #333333;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
}

.email::placeholder{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    color: #bbbbbb;
}

.subscribe-button {
    position: absolute;
    left: 14rem;
    height: 3rem;
    width: 9rem;
    border-top: 30px;
    border-bottom: 30px;
    border-radius: 30px;
    background-color: #7492ec;
    border: 0px;
    font-family: "Poppins";
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.mid {
    background-color: #222;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: "Lato";
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #bbb;
}

.mid-marg{
    margin-right: 120px;
}

.footer-topic{
    margin: 0;
    font-family: "Poppins";
    font-size: 14px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 600;
    color: #fff;
}

.footer-txt{
    display: block;
    margin: 0;
    margin-bottom: 0.6rem;
}

.footer-link{
    display: block;
    margin: 0;
    color: #bbb;
}

.footer-txt:first-of-type{
    margin-bottom: 0;
}

.footer-txt:last-child{
    margin-bottom: 0px;
}

.footer-text-box{
    margin-bottom: 27px;
}

.social-container{
    max-width: 200px;
}

.social-list{
    display: flex;
    flex-wrap: wrap;
    /* переделай сетку по кайфу, как везде */
}

.social-li{
    width: 25%;
}

.social__card{
    height: 100%;
    overflow: hidden;
}
.social-li__a{
    display: block;
}

.trday{
    padding-right: 40px;
}

.trgts{
    padding-right: 30px;
}

.google-map{
    border-radius: 10px;
}

.bot{
    background-color: #191919;
}

.hearth{
    color: #85AF4B;
}

.footer-menu-link{    
    font-family: "Poppins";
    font-size: 12px;
    color: #bbb;
}

.footer-menu-link:hover{
    color: white;
    text-shadow:0 0 10px white;
}


.highlight:hover{
    box-shadow: inset #fff 0 0 40px 0px,
	                  #fff 0 0 15px 0px;
}

.highlight-txt:hover{
    text-shadow:0 0 10px #8ea2dc
}

.highlight-white-txt:hover{
    text-shadow:0 0 10px #fff;
}

.inactive {
    color: #bbb!important;
    text-shadow: none!important;
}

.fmenu:last-child{
    padding-right: 0;
}

.width-container{
    display: flex;
    position: relative;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 15px;
    padding-right: 15px;
}