html {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;

}

html::-webkit-scrollbar {
    display: none;
}

a{
    text-decoration: none;
    font-weight: 700;
}

a:hover{
    color: white;
    text-shadow:0 0 10px white;
}

header {

    padding: 50px;
    position: relative;

    margin-bottom: 200px;
}

.page-header__background{
    position: absolute;
    z-index: -1;
    pointer-events: none;
    top: 0;
    left: 0;
}

.page-header__menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
}

.page-header__banner{
    display: flex;
    justify-content: flex-end;
}

.page-header__text-container {
    padding-right: 20rem;
    font-size: 4.5rem;
    font-family: "Poppins" !important;
    font-weight: 300;
    color: #4c77eb;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.page-header__banner-p--second{
    text-indent: 20px;
}

.page-header__banner-p--third{
    text-indent: 40px;
}

.menu{
    display: flex;
    align-items: center;
    margin-left:auto
}

.menu__ul{
    display: flex;
    font-family: "Poppins";

}

.menu__li{
    padding-right: 20px;
}

.menu__a {
    color: #8ea2dc;
}

.menu__a:hover {
    color: #4c77eb;
    text-shadow:0 0 10px #8ea2dc
}
.page-header__mobile-menu{
    display: none;
}
.page-header__mobile-button{
    display: none;
}

@media screen and (max-width:1350px) {

    .page-header{
        padding: 10px;
    }

    .page-header__menu{
        margin-bottom: 10px;
    }

    .page-header__text-container{
        padding-right: 100px;
    }
    
}

@media screen and (max-width: 850px) {

    .page-header__mobile-button{
        display: block;
        position: fixed;
        z-index: 40;
        right: 30px;
        top: 25px;
    }

    .page-header__mobile-button:hover{
        filter: drop-shadow(0 0 10px #8AA2EA);
    }

    .page-header__mobile-menu{
        display: none;
        
        flex-wrap: wrap;
        flex-direction: column;
        position: fixed;
        overflow: hidden;
        z-index: 50;
        top: 0px;
        right: 0px;

        padding-top: 2px;

        border: 3px solid;
        border-top: 0px;
        border-right: 0px; 
    }

    .page-header__mobile-text{
        padding-left: 15px;

        font-family: "Poppins";
        color: white;
        font-weight: 700;
    }

    .page-header__banner{
        display: none;
    }

    .page-header__mobile-button-close{
        position: absolute;
        right: 5px;
        top: 5px;
    }

    .page-header__mobile-button-close:hover{
        filter: drop-shadow(0 0 10px #fff);
    }
}

@media screen and (max-width: 450px) {

    .page-header{
        margin: 10px;
        padding: 5px;
    }

    .page-header__menu{
        margin-bottom: 0px;
    }

    .page-header__background{
        display: none;
    }

    .page-header__mobile-button{
        display: block;
        position: fixed;
        z-index: 40;
        right: 10px;
        top: 25px;
    }

    .page-header__mobile-button:hover{
        filter: drop-shadow(0 0 10px #8AA2EA);
    }

    .page-header__mobile-menu{
        display: none;
        
        flex-wrap: wrap;
        flex-direction: column;
        position: fixed;
        overflow: hidden;
        z-index: 50;
        top: 0px;
        right: 0px;

        padding-top: 2px;

        border: 3px solid;
        border-top: 0px;
        border-right: 0px; 
    }

    .page-header__mobile-text{
        padding-left: 15px;

        font-family: "Poppins";
        color: white;
        font-weight: 700;
    }

    .page-header__banner{
        display: none;
    }

    .page-header__mobile-button-close{
        position: absolute;
        right: 5px;
        top: 5px;
    }

    .page-header__mobile-button-close:hover{
        filter: drop-shadow(0 0 10px #fff);
    }
}


.trial-button {
    width: auto;
    height: 40px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-top: 30px;
    border-bottom: 30px;
    border-radius: 20px;
    background-color: #7492ec;
    border: 0px;
    font-family: "Poppins";
    color: white;
    font-weight: bold;
    font-size: 	0.75rem;
}

@media screen and (max-width:1350px) {

    .menu__li{
        padding-right: 10px;
    }
    
}

@media screen and (max-width: 850px) {
    
    .menu{
        display: none;
    }

    .menu__ul{
        display: block;
        margin: 0px;
    }

    .menu__li{
        padding-left: 15px;
        padding-right: 15px;
        border-top: 1px solid black;
    }

    .active{
        display: flex;
        background-color: #7492ec;
    }

    .menu__li:hover{
        background-color: #8AA2EA;
        color: white;
        text-shadow:0 0 10px white;
    }    
    .menu__a{
        color: white;
    }

    .menu__a:hover{
        color: white;
        text-shadow:0 0 10px white;
    }
}

.about{
    display: flex;

    justify-content: center;
    position: relative;


    padding-bottom: 8rem;

    font-size: 14px;
    font-weight: 400;
    color: #666;

    background-image: url(./img/body/about/Vector\ Smart\ Object.png);
    background-repeat: no-repeat;
    background-position: right 5rem;
}

.about__item{
    margin-bottom: 3rem;
}

.about__pros-card{
    display: flex;
}

.about__pros-card-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.about__pros-h2 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
}

.about__icon{
    align-self: center;
    margin-right: 30px;
}

.about__card{
    padding-top: 19rem;
    width: 50%;
    margin-right: 7.5rem;
}

.about__pros{
    padding-top: 10rem;
    width: 50%;
}

.about__h1{
    margin-bottom: 3%;
    font-size: 48px;
    font-weight: 300;
    color: #7492ec;
    
}

.about__text {
    margin-bottom: 50px;
}

.about__img{
    overflow: hidden;
}


.classes{
    padding-bottom: 8rem;
    background: url(./img/body/classes/classes_background.png);
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 6.5rem;
}

.classes__h2{
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    color: #4c77eb;
}

.classes-main{
    display: flex;
    justify-content: center;
    align-content: center;

}

.slider__list {
    display: flex;
    flex-wrap: wrap;
    margin: -13px;
}

.slider__card {
    padding: 13px;
    width: 25%;
}

.slider__img{
    width: 270px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 32px;
}

.slider__h3 {
    height: 53px;
    overflow: hidden;
    font-size: 18px;
    color: #4c77eb;
    font-weight: 500;
    margin-bottom: 0.875rem;
}

.slider__card-info {
    list-style-type: none;
    margin-bottom: 1rem;
}

.slider__info-item {
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 13px;
    font-family: "Lato";
    font-weight: 400;
    color: #999;
}

.slider__info-icon{
    margin-right: 13px;
}

.slider__info-item:last-child{
    margin-bottom: 0;
}

.slider__p {
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.slider_button{
    position: absolute;
    height: 30px;
    background: none;
    border: none;
    font-size: 25px;
    font-family: "Poppins";
    color: #4c77eb;
}

.slider_button--prev{
    left: -3rem;
    top: 13.5rem;
}

.slider_button--next{
    right: -3rem;
    top: 13.5rem;
}

.promo {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.promo__h2 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 1rem;
    width: 100%;
}

.promo__p {
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    margin-bottom: 5rem;
    width: 100%;
}

.trial-button--padding{
    padding-left: 3rem;
    padding-right: 3rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 120px;

}

.gallery__container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin: -13px;
}

.gallery__li {
    padding: 13px;
    width: 33.3333333333%;
}

.gallery__li--double {
    width: 66.6666666666%;
}

.gallery__li--double img {
    width: 100%;
    height: 100%;
}

.gallery__card {
    height: 100%;
    overflow: hidden;
}

.team {
    margin: 0;
    padding: 0;

}

.team-preview {
    padding-top: 8rem;
    padding-bottom: 5rem;
    display: block;
    text-align: center;
    background: url(./img/body/team/background.png) no-repeat;
}

.team-preview__h2 {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 32px;
    font-family: "Poppins";
    font-weight: 300;
    color: white;
}

.team-preview__p {
    width: 100%;
    margin-bottom: 5rem;
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    color: white;
}

.button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.team-preview__button-text{
    font-family: "Poppins";
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.team-preview__button {
    width: 40px;
    height: 40px;
    background-image: url(./img/body/team/Ellipse\ 10.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.team{
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.team__card {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;

}

.team__text-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 0.5rem;
}

.team__photo {
    align-self: center;
    margin-right: 1rem;
}

.team__name {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
}

.team__job {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    color: grey;
}

.challenge {
    position: relative;
    z-index: 1;
    background-color: #F8F7FC;
    padding-top: 14rem;
    padding-left: 32rem;
    padding-bottom: 13.5rem;
}

.challenge-container {
    display: block;
}

.challenge__h2 {
    font-family: "Poppins";
    font-weight: 300;
    font-size: 48px;
    color: #7492ec;
}

.challenge__p {
    width: 33%;
    font-size: 21px;
    line-height: 2rem;
    color: #8ea2dc;
    margin-bottom: 2rem;
}

.challenge__img {
    position: absolute;
    right: 30.5rem;
    bottom: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.logotypes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: 5rem;
    padding-bottom: 5rem;
}

.logotypes__container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.logotypes__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -85px;
}

.logotypes__li {
    padding: 85px;
    width: 20%;
}

.logotypes__card{
    height: 100%;
    overflow: hidden;
}

.footer__subscription {
    background-color: #191919;
    display: flex;
    
}

.footer__border{
    padding-right: 210px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid 2px;
    border-color: #333333;
    border-top: none;
    border-bottom: none;
    border-left: none;
}

.footer__subscribe-box{
    margin-right: 264px;
}

.footer__subscription-main {
    display: flex;
    align-items: center;
    padding-left: 45px;
}

.footer__subscribe-h2{
    font-size: 16px;
    color: white;
    font-weight: 600;
    font-family: "Poppins";
}

.footer__subscribe-p{
    font-family: "Lato";
    font-style: italic;
    font-size: 13px;
    color: #bbbbbb;
    font-weight: 500;
}

.subscription-form {
    position: relative;
    padding-right: 67px;  
}

.subscription-form__input {
    height: 3rem;
    width: 300px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 20px;
    background-color: #333333;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
}

.subscription-form__input::placeholder{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    color: #bbbbbb;
}

.subscription-form__button {
    position: absolute;
    left: 14rem;
    height: 3rem;
    width: 9rem;
    border-top: 30px;
    border-bottom: 30px;
    border-radius: 30px;
    background-color: #7492ec;
    border: 0px;
    font-family: "Poppins";
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.footer__info {
    background-color: #222;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: "Lato";
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #bbb;
}

.footer__contacts{
    width: 200px;
    margin-right: 120px;
}

.footer__nav{
    width: 115px;
    margin-right: 120px;
}

.footer__open-hours{
    width: 225px;
    margin-right: 120px;
}

.footer__location{
    width: 270px;
}

.footer__h2{
    margin: 0;
    font-family: "Poppins";
    font-size: 14px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 600;
    color: #fff;
}

.contacts__p{
    display: block;
    margin: 0;
    margin-bottom: 0.6rem;
}

.footer__nav-link{
    display: block;
    margin: 0;
    color: #bbb;
}

.contacts__p:first-of-type{
    margin-bottom: 0;
}

.contacts__p:last-child{
    margin-bottom: 0px;
}

.footer__contacts-box{
    margin-bottom: 27px;
}

.footer__soc-link-box{
    max-width: 200px;
}

.footer__soc-list{
    display: flex;
    flex-wrap: wrap;
    /* переделай сетку по кайфу, как везде */
}

.footer__soc-item{
    width: 25%;
}

.footer__soc-logo{
    height: 100%;
    overflow: hidden;
}
.footer__soc-link{
    display: block;
}

.footer__td-day{
    padding-right: 40px;
}

.footer__td-gts{
    padding-right: 30px;
}

.google-map{
    border-radius: 10px;
}

.footer__made-by{
    background-color: #191919;
}

.footer__hearth{
    color: #85AF4B;
}

.menu_ul--footer{
    margin-right: -20px;
}

.menu__a--footer{    
    font-size: 12px;
    color: #bbb;
}

.menu__a--footer:hover{
    color: white;
    text-shadow:0 0 10px white;
}


.highlight:hover{
    box-shadow: inset #fff 0 0 40px 0px,
	                  #fff 0 0 15px 0px;
}

.highlight-txt:hover{
    text-shadow:0 0 10px #8ea2dc
}

.highlight-white-txt:hover{
    text-shadow:0 0 10px #fff;
}

.inactive {
    color: #bbb!important;
    text-shadow: none!important;
}

.width-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 15px;
    padding-right: 15px;
}

.width-container--nowrap{
    flex-wrap: nowrap;
}

.width-container--flex-start{
    align-items: flex-start;
}

.width-container--block{
    display: block;
}